language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  
install:
  - composer install
  
script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml --configuration phpunit.xml
  
after_success:
  - bash <(curl -s https://codecov.io/bash)